.console {
  height: 350px;
  overflow: scroll;
  width: 100%;
  .hidden {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid slategrey;
  }
}