.demoPage {
  background-color: #EFF2F5;
  box-shadow: inset 0px 0px 18px -6px rgba(0,0,0,0.45);
  color: black;
  .pageContent {
    margin-left: 10%;
    width: 80%;
  }
}

HTMLFlipBook {
  width: 100%;
  height: 100%;
}