.App {
  .App-header {
    background-color: #D2D9D2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 26px;
    color: white;
  }
}