@import 'react-notifications/lib/notifications.css';

body {
  background-color: #D2D9D2;
}

.app {
  .notification-container {
    .notification-success {
      background-color: #8BAE8B !important;
    }
  }
  .feed {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 26px;
    color: white;
  }
}

.red-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}